language: node_js

services:
  docker
  
before install:
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker build -t udagram-api-user ./udagram-api-user
  - docker build -t udagram-frontend ./udagram-frontend
  - docker build -t udagram-reverseproxy ./udagram-reverseproxy

  - docker tag udagram-api-feed hanneseb/udagram-api-feed:v1
  - docker tag udagram-api-user hanneseb/udagram-api-user:v1
  - docker tag udagram-frontend hanneseb/udagram-frontend:v1
  - docker tag udagram-reverseproxy hanneseb/udagram-reverseproxy:v1

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

  - docker push hanneseb/udagram-api-feed:v1
  - docker push hanneseb/udagram-api-user:v1
  - docker push hanneseb/udagram-frontend:v1
  - docker push hanneseb/udagram-reverseproxy:v1